export PATH="/usr/local/bin:/usr/local/sbin:/usr/local/share/npm/bin:~/bin:$PATH"
export EDITOR='/usr/local/bin/code -a -w'

export LS_OPTIONS='--color=auto'
export CLICOLOR='Yes'
export LSCOLORS='Bxgxfxfxcxdxdxhbadbxbx'

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger shell history (allow 32⁵ entries; default is 500)
export HISTSIZE=33554432
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups:erasedups
setopt EXTENDED_HISTORY

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"
export HISTORY_IGNORE="(ls|cd|pwd|exit|cd ..)"

# npm token
[ -s "$HOME/.npmrc" ] && export NPM_TOKEN=$(cat ~/.npmrc | sed -E -n 's/.*_authToken=(.*)/\1/p')
