export PATH="/usr/local/bin:/usr/local/sbin:/usr/local/share/npm/bin:~/bin:/Applications/Postgres.app/Contents/Versions/9.3/bin:/usr/local/heroku/bin:$PATH"
export EDITOR='subl -n -w'

export LS_OPTIONS='--color=auto'
export CLICOLOR='Yes'
export LSCOLORS='Bxgxfxfxcxdxdxhbadbxbx'

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

export PHANTOMJS_BIN="/usr/local/bin/phantomjs"

export FLEETCTL_TUNNEL=deis
export DEISCTL_TUNNEL=deis
ssh-add ~/.ssh/deis &> /dev/null

export NVM_DIR=~/.nvm
source $(brew --prefix nvm)/nvm.sh