export PATH="/usr/local/bin:/usr/local/sbin:$HOME/bin:$HOME/dotfiles/bin:$PATH"

# Language configuration
export LANG=en_US.UTF-8
export LC_ALL="en_US.UTF-8"

# Editor configuration
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='/usr/local/bin/code -a -w'
fi

# Color configuration
export LS_OPTIONS='--color=auto'
export CLICOLOR='Yes'
export LSCOLORS='Bxgxfxfxcxdxdxhbadbxbx'

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger shell history (allow 32⁵ entries; default is 500)
export HISTSIZE=33554432
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups:erasedups
setopt EXTENDED_HISTORY

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"
export HISTORY_IGNORE="(ls|cd|pwd|exit|cd ..)"

# npm token
[ -s "$HOME/.npmrc" ] && export NPM_TOKEN=$(cat ~/.npmrc | sed -E -n 's/.*_authToken=(.*)/\1/p')

# .NET configuration
export DOTNET_CLI_TELEMETRY_OPTOUT=1
export DOTNET_NEW_PREFERRED_LANG="F#"

export PYTHONPATH="$HOME/dotfiles/python"
export RUBYPATH="$HOME/dotfiles/ruby"
export NODE_PATH="$HOME/dotfiles/node"

export RUBYOPT="-r $HOME/dotfiles/.rubyrc"

